@{
	ViewData["Title"] = "Home Page";
	@model EventPlanning.Models.Output.EventsDisplayModel;
	ViewData["Error"] = "Error. No events found.";
}

<div class="text-center">
	<h1 class="display-4">Event Manager</h1>
	<br />
	@{
		if (Model is null)
		{
			<h2 class="display-5">@ViewData["Error"]</h2>
		}
		else
		{
			if (Model.UserRole == "Admin")
			{
				<button id="create-event-btn" type="button"
				class="btn-sm"
				onclick="document.location.href = '@Url.Action("Index", "Event")'">
					Create New Event
				</button>
				<br />
				<br />
			}
			<table class="table table-hover table-bordered">
				<tr>
					<th>Event</th>
					<th>Topic</th>
					<th>Subtopic</th>
					<th>Dresscode</th>
					<th>Participants</th>
					<th>Location</th>
					@if (Model.UserRole == "Guest")
					{
						<th>Registration</th>
					}
				</tr>
				@foreach (EventPlanning.Data.Entities.Event e in Model.Events)
				{
					<tr>
						@using (Html.BeginForm("SignUp", "Event", FormMethod.Post))
						{
							@Html.Hidden("EventId", e.Id);
							<td name="eventName">@e.Name</td>
							<td>@e.Type.Name</td>
							<td>
								<ul class="list-group">
									@foreach (EventPlanning.Data.Entities.EventSubtype s in e.Type.Subtypes)
									{
										<li class="list-group-item" style="border: none">@s.Name</li>
									}
								</ul>
							</td>
							<td>@e.Dresscode</td>
							<td>@e.Participants</td>
							<td>@e.Location</td>
							@if (Model.UserRole == "Guest")
							{
								<td>
									<button id="sign-for-event-btn" type="submit" class="btn-light">
										Sign up
									</button>
								</td>
							}
						}
					</tr>
				}
			</table>
		}
	}
</div>

<script type="text/javascript">
	function CreateEvent() {
		document.location.href = '@Url.Action("Index", "Event")';
	}
	$('create-event-btn').click(function () {
		document.location = @Url.Action("Index","Event");
	});
</script>
